.custom-node {
  padding: 6px 8px;
  border: 3px solid #4A90E2;
  border-radius: 10px;
  background-color: #f0f8ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  min-width: 120px;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.custom-node-textarea {
  border: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
  outline: none;
  padding: 2px;
  white-space: pre-wrap;
  word-break: break-word;
}

.custom-handle {
  background-color: #000000;
  width: 0.1px;
  height: 0.1px;
}

.custom-node:hover {
  background-color: #e6f2ff;
  border-color: #357ABD;
}