/* Container styling */
.mindmap-detail-container {
  width: 100%;
  min-height: 100vh;
  padding: 6rem 2rem 2rem;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(-45deg, #e65c3a, #cc4c2f, #a63a1f);
  background-size: 300% 300%;
  animation: animatedGradient 15s ease-in-out infinite;
  box-sizing: border-box;
  color: white;
}


/* Buttons */
.add-node-btn,
.delete-mode-btn,
.save-btn {
  background-color: rgba(255, 255, 255, 0.004);
  color: white;
  border: 2px solid white;
  padding: 0.6rem 1.4rem;
  margin: 0.6rem 0.6rem 0 0 ;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-node-btn:hover,
.delete-mode-btn:hover,
.save-btn:hover {
  background-color: white;
  color: #5f27cd;
}




.reactflow-container {
  height: 800px;
  background: white;
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
}